In [1]:
import csv
from pgreaper import Table, copy_table

## First Twenty Lines

### Notes:
* Header row has 4 columns (last always empty--documentation notes 3 columns)
* Need to apply whitespace stripping (space) to all entries
* All track entries have 21 columns (last always empty--documentation notes 20 columns)

In [2]:
with open('hurdat2-1851-2016-041117.txt', mode='r') as infile:
    reader = csv.reader(infile)
    
    for i, line in enumerate(reader):
        if i == 20:
            break
        print(line, "Length: {}".format(len(line)))

['AL011851', '            UNNAMED', '     14', ''] Length: 4
['18510625', ' 0000', '  ', ' HU', ' 28.0N', '  94.8W', '  80', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510625', ' 0600', '  ', ' HU', ' 28.0N', '  95.4W', '  80', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510625', ' 1200', '  ', ' HU', ' 28.0N', '  96.0W', '  80', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510625', ' 1800', '  ', ' HU', ' 28.1N', '  96.5W', '  80', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510625', ' 2100', ' L', ' HU', ' 28.2N', '  96.8W', '  80', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510626', ' 0000', '  ', ' HU', ' 28.2N', '  97.0W', '  70', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510626', ' 0600', '  ', ' TS', ' 28.3N', '  97.6W', '  60', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510626', ' 1200', '  ', ' TS', ' 28.4N', '  98.3W', '  60', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510626', ' 1800', '  ', ' TS', ' 28.6N', '  98.9W', '  50', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510627', ' 0000', '  ', ' TS', ' 29.0N', '  99.4W', '  50', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510627', ' 0600', '  ', ' TS', ' 29.5N', '  99.8W', '  40', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510627', ' 1200', '  ', ' TS', ' 30.0N', ' 100.0W', '  40', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510627', ' 1800', '  ', ' TS', ' 30.5N', ' 100.1W', '  40', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['18510628', ' 0000', '  ', ' TS', ' 31.0N', ' 100.2W', '  40', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['AL021851', '            UNNAMED', '      1', ''] Length: 4
['18510705', ' 1200', '  ', ' HU', ' 22.2N', '  97.6W', '  80', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['AL031851', '            UNNAMED', '      1', ''] Length: 4
['18510710', ' 1200', '  ', ' TS', ' 12.0N', '  60.0W', '  50', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ' -999', ''] Length: 21
['AL041851', '            UNNAMED', '     49', ''] Length: 4

## Test Run of Cleaning Procedures
### Desired Result
Each row has four columns:
* id: text id
* name: text,
* entries: int,
* tracks: array of dicts, each dict with 20 keys

In [3]:
with open('hurdat2-1851-2016-041117.txt', mode='r') as infile:
    reader = csv.reader(infile)
    records = []
    
    # Store incomplete records for individual hurricanes as we aggregate them
    current_record = []
    
    for i, line in enumerate(reader):
        if i == 20:
            break
            
        # Strip whitespace
        for x, y in enumerate(line):
            line[x] = y.replace(' ', '')
        
        # Header
        if len(line) == 4:
            # Push current_record buffer to records and clear buffer
            if current_record:
                records.append(current_record.copy())
                current_record.clear()
            
            current_record += line[:-1] # Exclude last (empty) element
        elif len(line) == 21:
            current_record += [{
                'date': line[0],
                'time': line[1],
                'rec_id': line[2],
                'status': line[3],
                'lat': line[4],
                'lon': line[5],
                'max_sust_wind': line[6],
                'min_press': line[7],
                '34kt_wind_rad_ne': line[8],
                '34kt_wind_rad_se': line[9],
                '34kt_wind_rad_sw': line[10],
                '34kt_wind_rad_nw': line[11],
                '50kt_wind_rad_ne': line[12],
                '50kt_wind_rad_se': line[13],
                '50kt_wind_rad_sw': line[14],
                '50kt_wind_rad_nw': line[15],
                '64kt_wind_rad_ne': line[16],
                '64kt_wind_rad_se': line[17],
                '64kt_wind_rad_sw': line[18],
                '64kt_wind_rad_nw': line[19]
            }]
        else:
            raise ValueError('Some weird shit happened')

In [4]:
with open('hurdat2-1851-2016-041117.txt', mode='r') as infile:
    reader = csv.reader(infile)
    records = Table(name='hurdat2_atl', col_names=['hurdat2_id', 'name', 'entries', 'tracks'])
    records.p_key = 'hurdat2_id'    
    
    # Store incomplete records for individual hurricanes as we aggregate them
    current_record = []
    
    for line in reader:
            
        # Strip whitespace
        for x, y in enumerate(line):
            line[x] = y.replace(' ', '')
        
        # Header
        if len(line) == 4:
            # Push current_record buffer to records and clear buffer
            if current_record:
                records.append(current_record.copy())
                current_record.clear()
            
            current_record += line[:-1] # Exclude last (empty) element
        elif len(line) == 21:
            track = {
                'date': line[0],
                'time': line[1],
                'rec_id': line[2],
                'status': line[3],
                'lat': line[4],
                'lon': line[5],
                'max_sust_wind': line[6],
                'min_press': line[7],
                '34kt_wind_rad_ne': line[8],
                '34kt_wind_rad_se': line[9],
                '34kt_wind_rad_sw': line[10],
                '34kt_wind_rad_nw': line[11],
                '50kt_wind_rad_ne': line[12],
                '50kt_wind_rad_se': line[13],
                '50kt_wind_rad_sw': line[14],
                '50kt_wind_rad_nw': line[15],
                '64kt_wind_rad_ne': line[16],
                '64kt_wind_rad_se': line[17],
                '64kt_wind_rad_sw': line[18],
                '64kt_wind_rad_nw': line[19]
            }
            
            try:
                current_record[3].append(track)
            except IndexError:
                current_record.append([track])
        else:
            raise ValueError('Some weird shit happened')

In [5]:
records

hurdat2_atl
1829 rows x 4 columns


  hurdat2_id       name        entries        tracks
 text prima..      text          text         jsonb
----------------------------------------------------------------------------------------------------------------
  'AL011851'    'UNNAMED'        '14'      [{'date': ..
  'AL021851'    'UNNAMED'        '1'       [{'date': ..
  'AL031851'    'UNNAMED'        '1'       [{'date': ..
  'AL041851'    'UNNAMED'        '49'      [{'date': ..
  'AL051851'    'UNNAMED'        '16'      [{'date': ..
  'AL061851'    'UNNAMED'        '17'      [{'date': ..
  'AL011852'    'UNNAMED'        '45'      [{'date': ..
  'AL021852'    'UNNAMED'        '8'       [{'date': ..
  'AL031852'    'UNNAMED'        '20'      [{'date': ..
  'AL041852'    'UNNAMED'        '36'      [{'date': ..

In [6]:
records.apply('entries', int)

In [7]:
records.col_types

['text primary key', 'text', 'text', 'jsonb']

In [8]:
records

hurdat2_atl
1829 rows x 4 columns


  hurdat2_id       name        entries        tracks
 text prima..      text          text         jsonb
----------------------------------------------------------------------------------------------------------------
  'AL011851'    'UNNAMED'         14       [{'date': ..
  'AL021851'    'UNNAMED'         1        [{'date': ..
  'AL031851'    'UNNAMED'         1        [{'date': ..
  'AL041851'    'UNNAMED'         49       [{'date': ..
  'AL051851'    'UNNAMED'         16       [{'date': ..
  'AL061851'    'UNNAMED'         17       [{'date': ..
  'AL011852'    'UNNAMED'         45       [{'date': ..
  'AL021852'    'UNNAMED'         8        [{'date': ..
  'AL031852'    'UNNAMED'         20       [{'date': ..
  'AL041852'    'UNNAMED'         36       [{'date': ..

In [9]:
copy_table(records, dbname='us_wth')